

.logo {
    position: relative;
    top: clamp(-75px, -10vw, 0px);
    left: 50%;
    transform: translateX(-50%);
    width: clamp(100px, 90vw,600px);
    
    img {
        width: 100%;
        object-fit: cover;
    }
}